name: Spellcheck
permissions:
  contents: read
on:
  push:
  pull_request:
jobs:
  spelling:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: check-spelling/check-spelling@v0
